<menu></menu>



<router-outlet></router-outlet>
   



  <h1 *appShowMovies= "showMoviesList">List of films</h1>
  <ul *appShowMovies= "showMoviesList">
    <li appHighlight>The Killer Shrews de Ray Kellog</li>
    <li>Willard de Daniel Mann</li>
    <li> Ben de Phil Karlson</li>
    <li>Soudain... les monstres de Bert I. Gordon</li>
    <li>D'origine inconnue de George P. Cosmatos</li>
    <li>Les Rats de Manhattan de Bruno Mattei</li>
    <li>Ratman de Giuliano Carnimeo</li>
    <li>La malédiction des rats de Damian Lee</li>
    <li>La Créature du cimetière de Ralph S. Singleton</li>
  </ul>
